<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.XoaArchivesDao">

    <select id="queryXoaarchives" resultType="com.entity.XoaArchives">
        select * from xoa_archives
    </select>

    <insert id="deleteXoarchives" parameterType="java.lang.String">
delete from xoa_archives where id = #{id}
    </insert>
</mapper>